doctype html

link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")

head
    title Simple Table
body    
    h2 Admin Page
    
    br
    h Welcome to the website
    form( action='myPost', method='post')
            div
                label( for="Name") Name:
                input( name='Name' value="")
            
            div
                label( for="Dept") Dept:
                input( name='Dept' value="")
            div
                label( for="email") Email:
                input( name='email' value="")
            div
                label( for="password") PW:
                input( name='password' value="")
            button(type="submit") admin things
    div
        input(type='radio', name='register_webinar_', value='1')
        label Placeholder text
    div
        input(type='radio', name='register_webinar_', value='2')
        label Placeholder text
    form( action='myPost', method='post')
        button(type="submit") Go back