doctype html

link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")

head
    title Simple Table
body    
    h2 Placeholder Text
    
    br
    h Your current group
    table(style='width:20%', border='1')
        tr
                th name
                th dept
                th email
        tr
                td srtvh
                td dhrs
                td kjhkiyu
        tr
                td srtvh
                td dhrs
                td kjhkiyu
        tr
                td srtvh
                td dhrs
                td kjhkiyu
        tr
                td srtvh
                td dhrs
                td kjhkiyu
    form( action='settings', method='post')

            br
            button(type="gg") Settings
    form( action = 'admin', method='post')
            br
            button(type="submit") I am an admin
