doctype html

link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")

head
    title Simple Table
body    
    h2 Placeholder Text
    
    br
    h Welcome to the website
    form( action='getGroup', method='post')
            
            br
            button(type="submit") Join a group
    form( action='settings', method='post')

            br
            button(type="gg") Settings
    form( action = 'admin', method='post')
            br
            button(type="submit") I am an admin