doctype html

link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")

head
    title Simple Table
body    
    h2 Placeholder Text
    
    br
    h Login
    form( action='myPost', method='post')
           
            div
                label( for="email") Email:
                input( name='email' value="")
            div
                label( for="password") PW:
                input( name='password' value="")
            br
            
            button(type="submit") Login